html {
    background-color: rgb(16, 24, 41);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.04em;
    padding: 0;
}

body {
    margin: 0;
}

h3 {
    font-size: 1.3vw;
    letter-spacing: 0.06em;
}

.overlay {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    /*This part is important for centering*/
}

.fadeIn {
    animation: fadeInAnimation ease 2s 4.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin-left: 0;
    margin-right: 0;
    margin-top: -100vh;
    opacity: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOnScroll {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.7, 0, 0.84, 0); /* ease-in exponential*/
}

.fadeOnScroll.active {
    opacity: 1;
}

.scrollSection {
    display: flexbox;
    height: 85vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

#Projects {
    height: 85vh;
}


.contentBoxContainer {
    display: grid;
    gap: 0px 6.25%;
    grid-auto-columns: 0% 25% 25% 25% 0%;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    justify-items: stretch;
}

.contentBoxContainerAbout {
    align-content: center;
}

.contentBoxContainer+.contentBoxContainer {
    margin-top: 20px;
}

.contentBoxContainer article {
    align-content: center;
    background-color: rgb(16, 24, 41);
    border-radius: 5px;
    color: whitesmoke;
    padding: 1%;
}

.contentBoxContainerAbout article {
    align-content: center;
    color: whitesmoke;
    display: inline-block;
    margin: 20%;
    padding: 2%;
    width: 20%;
}

.grid {
    border-radius: 5px;
    display: grid;
    gap: 0px 10%;
    grid-auto-columns: 40% 10% 40%;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

/* left */

.left {
    padding-bottom: 10%;
    padding-top: 10%;
    text-align: center;
}

.left p span svg {
    transform: translateY(3px);
}

.left p {
    font-size: 1.1rem;
    font-size: 1.3vw;
    margin: 0;
    padding-bottom: 10px;
}

.left h2 {
    font-size: 1.7rem;
    font-size: 1.7vw;
    margin-bottom: 10px;
}

.btn-social {
    margin-top: 15%;
    height: auto;
    width: 2vw;
    border-radius: 25%;
    border: none;
    background: rgb(12, 13, 15);
    transition: transform 300ms 50ms;
    margin: 0.25vw;
    text-decoration: none;
  }

.btn-social:hover {
    transform: translateY(-0.5vh);
    transition: transform 125ms;
}

.btn-social img{
    height: auto;
    width: 1.5vw;
    transition: transform 300ms 50ms;
}

.btn-social img:hover{
    transform: translateY(-0.5vh);
    transition: transform 125ms;
}

#linkedin-img{
    height: auto;
    width: 3vw;
}

a {
    font-size: 1.5rem;
    padding: 10px;
}

/* unvisited link */

a:link {
    color: whitesmoke;
}

/* visited link */

a:visited {
    color: rgb(219, 210, 250);
}

/* mouse over link */

a:hover {
    color: white;
}

/* selected link */

a:active {
    color: blue;
}

/* right */

.right {
    padding-top: 5%;
    width: 70%;
    line-height: 1.33;
}

.right h2 {
    font-size: 1.4vw;
    margin-bottom: 10px;
}

.right p {
    font-size: 1vw;
    text-indent: 2em;
    margin-top: 2%;
    margin: 0;
    padding-bottom: 10px;
}

.right a {
    display: block;
    font-size: 1.2rem;
    padding-left: 0;
    padding: 5px;
    width: 100px;
}

.socials {
    margin-top : 8%;
}


.card {
    background-color: rgb(12, 13, 15);
    border-radius: 10px;
    margin-bottom: 25vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15vh;
}

#avatar {
    border-radius: 50%!important;
    height: auto;
    width: 10vw;
}

@media only screen and (max-width: 768px) {
    #myNameTyped{
        font-size: x-large;
    }
    h3{
        font-size: medium;
    }
    .contentBoxContainer {
        display: block;
    }
    .spacer {
        display: none;
    }
    .contentBoxContainer article {
        height: 25vh;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 8.7vh;
    }
    .grid {
        align-content: center;
        display: block;
    }
    .right {
        margin: auto auto;
        padding-bottom: 10%;
    }
    .btn-social{
        height: auto;
        width : 3vw;
    }
    .btn-social img{
        height: auto;
        width : 3vw;
    }
    .empty{
        display: none;
    }
}